<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.telukidsv1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/telukidslogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/telukidslogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeluKidsV1">
        <activity
            android:name=".Achievements7to9DoingGood"
            android:exported="true" />
        <activity
            android:name=".DoingGoodLessonCongrats"
            android:exported="true" />
        <activity
            android:name=".LessonDoingGood"
            android:exported="true" />
        <activity
            android:name=".ChooseModeDoingGood"
            android:exported="true" />
        <activity
            android:name=".LessonIntroDoingGood"
            android:exported="true" />
        <activity
            android:name=".Achievements7to9Obedience"
            android:exported="true" />
        <activity
            android:name=".ObedienceLessonCongrats"
            android:exported="true" />
        <activity
            android:name=".LessonObedience"
            android:exported="true" />
        <activity
            android:name=".ChooseModeObedience"
            android:exported="true" />
        <activity
            android:name=".LessonIntroObedience"
            android:exported="true" />
        <activity
            android:name=".Achievements7to9Love"
            android:exported="true" />
        <activity
            android:name=".LoveLessonCongrats"
            android:exported="true" />
        <activity
            android:name=".LessonLove"
            android:exported="true" />
        <activity
            android:name=".ChooseModeLove"
            android:exported="true" />
        <activity
            android:name=".LessonIntroLove"
            android:exported="true" />
        <activity
            android:name=".Achievements7to9Main"
            android:exported="true" />
        <activity
            android:name=".Achievements7to9Responsibility"
            android:exported="true" />
        <activity
            android:name=".ResponsibilityLessonCongrats"
            android:exported="true" />
        <activity
            android:name=".LessonResponsibility"
            android:exported="true" />
        <activity
            android:name=".ChooseModeResponsibility"
            android:exported="true" />
        <activity
            android:name=".LessonIntroResponsibility"
            android:exported="true" />
        <activity
            android:name=".Gmrc7to9"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Compassion"
            android:exported="true" />
        <activity
            android:name=".CompassionLessonCongrats"
            android:exported="true" />
        <activity
            android:name=".LessonCompassion"
            android:exported="true" />
        <activity
            android:name=".ChooseModeCompassion"
            android:exported="true" />
        <activity
            android:name=".LessonIntroCompassion"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Sociability"
            android:exported="true" />
        <activity
            android:name=".SociabilityLessonCongrats"
            android:exported="true" />
        <activity
            android:name=".LessonSociability"
            android:exported="true" />
        <activity
            android:name=".ChooseModeSociability"
            android:exported="true" />
        <activity
            android:name=".LessonIntroSociability"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Sociability2"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Compassion2"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Honesty2"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Respect2"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Discipline2"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Respect"
            android:exported="true" />
        <activity
            android:name=".RespectLessonCongrats"
            android:exported="true" />
        <activity
            android:name=".LessonIntroRespect"
            android:exported="true" />
        <activity
            android:name=".ChooseModeRespect"
            android:exported="true" />
        <activity
            android:name=".LessonRespect"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Discipline"
            android:exported="true" />
        <activity
            android:name=".DisciplineLessonCongrats"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Honesty"
            android:exported="true" />
        <activity
            android:name=".HonestyLessonCongrats"
            android:exported="true" />
        <activity
            android:name=".LessonDiscipline"
            android:exported="true" />
        <activity
            android:name=".LessonHonesty"
            android:exported="true" />
        <activity
            android:name=".ChooseModeDiscipline"
            android:exported="true" />
        <activity
            android:name=".ChooseModeHonesty"
            android:exported="true" />
        <activity
            android:name=".LessonIntroHonesty"
            android:exported="true" />
        <activity
            android:name=".LessonIntroDiscipline"
            android:exported="true" />
        <activity
            android:name=".Gmrc3to6"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Subtraction2"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Shapes2"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Counting2"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Colors2"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Addition2"
            android:exported="true" />
        <activity
            android:name=".LessonIntroSubtraction"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Subtraction"
            android:exported="true" />
        <activity
            android:name=".SubtractionLessonCongrats"
            android:exported="true" />
        <activity
            android:name=".ChooseModeSubtraction"
            android:exported="true" />
        <activity
            android:name=".LessonSubtraction"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Addition"
            android:exported="true" />
        <activity
            android:name=".AdditionLessonCongrats"
            android:exported="true" />
        <activity
            android:name=".LessonAddition"
            android:exported="true" />
        <activity
            android:name=".LessonIntroAddition"
            android:exported="true" />
        <activity
            android:name=".ChooseModeAddition"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Counting"
            android:exported="true" />
        <activity
            android:name=".CountingLessonCongrats"
            android:exported="true" />
        <activity
            android:name=".LessonCounting"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Shapes"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Colors"
            android:exported="true" />
        <activity
            android:name=".ColorsLessonCongrats"
            android:exported="true" />
        <activity
            android:name=".LessonColors"
            android:exported="true" />
        <activity
            android:name=".ChooseModeColors"
            android:exported="true" />
        <activity
            android:name=".LessonIntroColors"
            android:exported="true" />
        <activity
            android:name=".ChooseModeCounting"
            android:exported="true" />
        <activity
            android:name=".LessonIntroCounting"
            android:exported="true" />
        <activity
            android:name=".Numbers"
            android:exported="true" />
        <activity
            android:name=".ShapesLessonCongrats"
            android:exported="true" />
        <activity
            android:name=".ChooseModeShapes"
            android:exported="true" />
        <activity
            android:name=".LessonShapes"
            android:exported="true" />
        <activity
            android:name=".LessonIntroShapes"
            android:exported="true" />
        <activity
            android:name=".BasicConcepts"
            android:exported="true" />
        <activity
            android:name=".LogoutConfirmation79"
            android:exported="true" />
        <activity
            android:name=".EditProfile79"
            android:exported="true" />
        <activity
            android:name=".UserProfile79"
            android:exported="true" />
        <activity
            android:name=".LogoutConfirmation36"
            android:exported="true" />
        <activity
            android:name=".EditProfile36"
            android:exported="true" />
        <activity
            android:name=".UserProfile36"
            android:exported="true" />
        <activity
            android:name=".Homepage7to9"
            android:exported="true" />
        <activity
            android:name=".Homepage3to6"
            android:exported="true" />
        <activity
            android:name=".Achievements3to6Main"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".AgeCategorySelection"
            android:exported="true" />
        <activity
            android:name=".SuccessfulLogin"
            android:exported="true" />
        <activity
            android:name=".SignUpOrLogInPage"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".SuccessfulSignUp"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".QuizShapes"
            android:exported="true" />
        <activity
            android:name=".ResultsShapes"
            android:exported="true" />
        <activity
            android:name=".QuizColors"
            android:exported="true" />
        <activity
            android:name=".ResultsColors"
            android:exported="true" />
        <activity
            android:name=".QuizCountingNumbers"
            android:exported="true" />
        <activity
            android:name=".ResultsCountingNumbers"
            android:exported="true" />
        <activity
            android:name=".QuizAddition"
            android:exported="true" />
        <activity
            android:name=".ResultsAddition"
            android:exported="true" />
        <activity
            android:name=".QuizSubtraction"
            android:exported="true" />
        <activity
            android:name=".ResultsSubtraction"
            android:exported="true" />
        <activity
            android:name=".QuizDiscipline"
            android:exported="true" />
        <activity
            android:name=".ResultsDiscipline"
            android:exported="true" />
        <activity
            android:name=".QuizHonesty"
            android:exported="true" />
        <activity
            android:name=".ResultsHonesty"
            android:exported="true" />
        <activity
            android:name=".QuizRespect"
            android:exported="true" />
        <activity
            android:name=".ResultsRespect"
            android:exported="true" />
        <activity
            android:name=".QuizSociability"
            android:exported="true" />
        <activity
            android:name=".ResultsSociability"
            android:exported="true" />
        <activity
            android:name=".QuizCompassion"
            android:exported="true" />
        <activity
            android:name=".ResultsCompassion"
            android:exported="true" />
    </application>

</manifest>